.block-advantages {
    background-color: #f7f7f7;
    color: #1e1d1d;
    padding: 96px 30px;
    .block-advantages-container {
        max-width: 1280px;
        margin: 0 auto;
        text-decoration: none;
        .section-title {
            margin-bottom: 64px;
            .section-title__heading-title {
                text-align: center;
                letter-spacing: -.03em;
                margin-top: 10px;
                margin-bottom: 24px;
                font-size: 2.5em;
                font-weight: 700;
                line-height: 1.2em;
            }
        }
        .flex-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            .white-card {
                background-color: #fff;
                padding: 32px 20px;
                width: 405px;
                height: 435px;
                margin: 0 10px;
                .white-card__big-icon {
                    margin-bottom: 32px;
                }
                .white-card__h3-card-title {
                    margin-top: 0;
                    margin-bottom: 24px;
                    font-size: 1.5em;
                    font-weight: 500;
                    line-height: 1.4em;
                }
                .white-card__normal-text {
                    font-size: 18px;
                    color: rgba(30, 29, 29, .78);
                }
            }
        }
    }
}
