*,*:before,*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 auto;
    line-height: 28px;
    @media (max-width: 991px) {
        font-size: 16px;
    }
    .header {
        height: 71px;
        background-color: #fff;
        border-bottom: 1px solid rgba(30, 29, 29, .12);
        padding-left: 30px;
        padding-right: 30px;
        position: sticky;
        top: 0;
        z-index: 1000;
        text-align: center;
        @media (max-width: 991px) {
            height: 65px;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-right: 12px;
        }
        .header-container {
            height: 71px;
            max-width: 1280px;
            justify-content: space-between;
            align-items: center;
            display: flex;
            @media (max-width: 991px) {
                height: 65px;
            }
            @media (max-width: 768px) {
                padding: 0 20px;
            }
            .header-container__brand-logo {
                z-index: 3;
                display: inline-block;
            }
        }
        .box-w-link {
            display: flex;
            z-index: 3;
            order: 2;
            justify-content: flex-end;
            align-items: center;
            .box-w-link__login {
                width: 75px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px 16px;
                color: black;
                font-weight: 600;
                text-decoration: none;
                @media (max-width: 991px) {
                    display: none;
                }
            }
            .box-w-link__link-now {
                position: relative;
                z-index: 3;
                width: 160px;
                height: 48px;
                padding: 12px 24px;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                div {
                    color: white;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                }
            }
            .box-w-link__button-arrow {
                background-color: white;
                width: 14px;
                height: 12px;
                margin-left: 13px;
            }
        }
        .body__burger {
            display: none;
            order: 2;
            padding: 18px;
            @media (max-width: 991px) {
                display: block;
            }
            .burger__img {
                display: block;
                width: 24px;
                height: 24px;
                position: relative;
                z-index: 3;
            }
        }
        .body__menu {
            flex: 1;
            order: 1;
            font-size: 16px;
            font-weight: 600;
            .menu__list {
                display: flex;
                position: relative;
                z-index: 3;
                margin-left: 30px;
                @media (max-width: 991px) {
                    display: none;
                }
                .list__img {
                    width: 12px;
                    height: 12px;
                }
            }
            .menu__list li {
                display:  inline-block;
                list-style: none;
                padding: 30px 16px 25px;
                .list__link {
                    color: black;
                    font-size: 16px;
                    text-transform: capitalize;
                    text-decoration: none;
                }
            }
            .menu__box {
                display: flex;
            }
        }
    }
}

.box-w-link__login:hover {
    color: #545759 !important;
}
.box-w-link__link-now:hover {
    background-color: #545759 !important;
}
.list__link:hover {
    color: #545759 !important;
}