.home {
    padding-left: 30px;
    overflow: hidden;
    .home-container {
        width: 100%;
        @media (max-width: 991px) {
            font-size: 16px;
            max-height: 813px;
        }
        .home-container-box {
            grid-auto-columns: 1fr;
            display: grid;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1.3fr;
            .left-block-w-content {
                min-height: auto;
                flex-direction: column;
                padding: 10rem 32px 32px;
                display: flex;
                .div-block {
                    height: 100%;
                    max-width: 480px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    display: flex;                
                    .div-block__title {
                        margin-top: 0;
                        margin-bottom: 16px;
                        font-size: 4.375em;
                        line-height: 1.1em;
                    }
                    .div-block__text {
                        font-size: 18px;
                    }
                    .box-w-s-link {
                        margin-top: 48px;
                        align-items: center;
                        display: flex;
                        .box-w-s-link__link-now {
                            color: #fff;
                            background-color: #000;
                            justify-content: center;
                            align-items: center;
                            padding: 20px 24px;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 24px;
                            text-decoration: none;
                            transition: all .3s;
                            display: flex;
                            div {
                                color: white;
                                text-decoration: none;
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 24px;
                            }
                            .link-now__button-arrow {
                                width: 100%;
                                vertical-align: middle;
                                display: inline-block;
                                width: 14px;
                                height: 12px;
                                background-color: white;
                                margin-left: 13px;
                            }
                        }
                    }
                    .div-block__tiny-text {
                        margin-top: 160px;
                        color: rgba(30, 29, 29, .72);
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 18px;
                    }
                }
            }
            .right-block-w-animations {
                grid-area: span 1 / span 1 / span 1 / span 1;
                justify-self: stretch;
                overflow: hidden;
                width: 100%;
                height: 100%;
                background-color: #acf8f5;
                position: relative;
                .home-animation-container {
                    width: 100%;
                    height: 100%;
                    justify-content: flex-start;
                    align-items: center;
                    display: flex;
                    position: absolute;
                    top: 0%;
                    bottom: 0%;
                    left: 0%;
                    right: 0%;
                    .home-animation {
                        width: 200%;
                        display: grid;
                        grid-template-columns: 350px 350px 350px;
                        grid-template-rows: 350px 350px 350px;
                        animation: home-animation 20s infinite linear;
                        .top-left {
                            grid-area: 1 / 1 / 2 / 2;
                            width: 217px;
                            height: 334px;
                            position: relative;
                            top: -10px;
                            left: 60px;
                            transform: rotate(70deg);
                        }
                        .top-midle {
                            grid-area: 1 / 2 / 2 / 3;
                            width: 217px;
                            height: 334px;
                            transform: rotate(90deg);
                            position: relative;
                            top: -1px;
                            left: 60px;
                        }
                        .top-right {
                            grid-area: 1 / 3 / 2 / 4;
                            width: 217px;
                            height: 334px;
                            transform: rotate(115deg);
                            position: relative;
                            top: -10px;
                            left: 70px;
                        }
                        .midle-left {
                            grid-area: 2 / 1 / 3 / 2;
                            transform: rotate(45deg);
                            position: relative;
                            top: 10px;
                            left: 60px;
                        }
                        .bottom-left {
                            grid-area: 3 / 1 / 4 / 2;
                            transform: rotate(25deg);
                            position: relative;
                            top: -10px;
                            left: 40px;
                        }
                        .bottom-right {
                            grid-area: 3 / 3 / 4 / 4;
                            position: relative;
                            top: -20px;
                            left: 20px;
                            transform: rotate(340deg);
                        }
                        .bottom-midle {
                            grid-area: 3 / 2 / 4 / 3;
                            position: relative;
                            top: -20px;
                            left: 30px;
                        }
                        .midle-right {
                            grid-area: 2 / 3 / 3 / 4;
                            position: relative;
                            top: -20px;
                            left: 10px;
                            transform: rotate(315deg);
                        }
                    }
                }
            }
        }
    }
}

@keyframes home-animation {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}