@import "variables";

.section {
    color: #1e1d1d;
    padding: 96px 30px;
    @media (max-width: 991px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section-container {
        max-width: 1280px;
        margin: 0 auto;
        text-decoration: none;
        .section-title {
            margin-bottom: 64px;
            @media (max-width: 767px) {
                text-align: center;
                flex-direction: column;
                align-items: center;
                margin-bottom: 48px;
                display: flex;
            }
            .section-title__overline {
                color: $black-text;
                letter-spacing: .04em;
                text-transform: uppercase;
                margin-bottom: 16px;
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;
            }
            .section-title__heading-title {
                @include heading-title();
                @media (max-width: 991px) {
                    margin-bottom: 16px;
                }
                @media (max-width: 767px) {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.2em;
                }
            }
        }
        .green-grid {
            grid-column-gap: 32px;
            grid-row-gap: 32px;
            background-color: #6eeb9d;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1.5fr;
            align-items: center;
            grid-auto-columns: 1fr;
            display: grid;
            @media (max-width: 767px) {
                text-align: center;
                grid-template-columns: 1.5fr;
                justify-items: center;
            }
            .left-side-div {
                flex-direction: column;
                align-items: flex-start;
                padding: 48px;
                display: flex;
                @media (max-width: 767px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 32px;
                }
                .left-side-div__heading-title {
                    @include heading-title();
                    @media (max-width: 991px) {
                        margin-bottom: 16px;
                    }
                    @media (max-width: 767px) {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 1.2em;
                    }
                }
                .left-side-div__regular-text {
                    @include regular-text();
                    @media (max-width: 991px) {
                        font-size: 18px;
                    }
                    @media (max-width: 767px) {
                        text-align: center;
                        padding: 0 130px;
                    }
                }
            }
            .right-side-image-with-top {
                text-align: center;
                padding-top: 24px;
                img {
                    max-width: 100%;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }
        .gray-grid {
            grid-auto-columns: 1fr;
            display: grid;
            grid-column-gap: 32px;
            grid-row-gap: 32px;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1.5fr;
            margin-top: 32px;
            @media (max-width: 767px) {
                grid-template-columns: 1.5fr;
            }
            .block-left-side-div {
                text-align: center;
                background-color: #f7f7f7;
                flex-direction: column;
                align-items: flex-start;
                padding: 48px;
                display: flex;
                @media (max-width: 991px) {
                    flex-direction: column-reverse;
                    display: flex;
                    padding: 32px;
                }
                .block-left-side-div__credit-score-image {
                    max-width: 100%;
                    margin-bottom: 96px;
                    margin-left: auto;
                    margin-right: auto;
                    @media (max-width: 991px) {
                        margin-bottom: 48px;
                    }
                    @media (max-width: 767px) {
                        margin-top: 48px;
                        margin-bottom: 0;
                    }
                    img {
                        vertical-align: middle;
                        display: inline-block;
                    }
                }
                .in-card-text-content {
                    margin-top: auto;
                    .in-card-text-content__heading-title {
                        @include heading-title();
                        @media (max-width: 991px) {
                            margin-bottom: 16px;
                        }
                        @media (max-width: 767px) {
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 1.2em;
                        }
                    }
                    .in-card-text-content__regular-text {
                        @include regular-text();
                        letter-spacing: -.01em;
                        color: $black-text;
                    }
                }
            }
            .right-side-block {
                background-image: url(/img/background.png);
                background-position: 100%;
                background-repeat: no-repeat;
                background-size: contain;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                display: flex;
                background-color: #f7f7f7;
                padding: 48px;
                @media (max-width: 991px) {
                    padding: 32px;
                }
                @media (max-width: 767px) {
                    background-image: none;
                    background-position: 0 0;
                    background-repeat: repeat;
                    background-size: auto;
                    padding-left: 0;
                    padding-right: 0;
                }
                .right-side-div {
                    max-width: 480px;
                    @media (max-width: 767px) {
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                        padding-left: 24px;
                        padding-right: 24px;
                    }
                    .right-side-div__heading-title {
                        @include heading-title();
                        @media (max-width: 991px) {
                            margin-bottom: 16px;
                        }
                        @media (max-width: 767px) {
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 1.2em;
                        }
                    }
                    .right-side-div__regular-text {
                        @include regular-text();
                    }
                }
                .a-lot-of-logos-mobile {
                    display: none;
                    @media (max-width: 767px) {
                        display: block;
                    }
                }
            }
        }
        .yellow-grid {
            grid-auto-columns: 1fr;
            display: grid;
            grid-column-gap: 32px;
            grid-row-gap: 32px;
            grid-template-rows: auto;
            grid-template-columns: 1.5fr 1fr;
            margin-top: 32px;
            @media (max-width: 767px) {
                grid-template-columns: 1fr;
            }
            .left-side-div {
                text-align: center;
                background-color: #fff67f;
                flex-direction: column;
                align-items: flex-start;
                padding: 48px;
                display: flex;
                @media (max-width: 991px) {
                    padding: 32px;
                }
                @media (max-width: 767px) {
                    flex-direction: column-reverse;
                    display: flex;
                }
                img {
                    max-width: 100%;
                    vertical-align: middle;
                    display: inline-block;
                    margin-bottom: 96px;
                    margin-left: auto;
                    margin-right: auto;
                    @media (max-width: 991px) {
                        margin-bottom: 48px;
                    }
                    @media (max-width: 767px) {
                        margin-top: 48px;
                        margin-bottom: 0;
                    }
                }
                .in-card-text-content {
                    margin-top: auto;
                    .in-card-text-content__heading-title {
                        @include heading-title();
                        @media (max-width: 991px) {
                            margin-bottom: 16px;
                        }
                        @media (max-width: 767px) {
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 1.2em;
                        }
                    }
                    .in-card-text-content__regular-text {
                        @include regular-text();
                        color: $black-text;
                    }
                }
            }
            .teal {
                flex-direction: column;
                align-items: flex-start;
                padding: 48px;
                display: flex;
                background-color: #acf8f5;
                text-align: center;
                @media (max-width: 991px) {
                    display: flex;
                    flex-flow: column;
                }
                @media (max-width: 767px) {
                    flex-flow: column-reverse;
                }
                .left-side-div__credit-score-image {
                    margin-bottom: 96px;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 100%;
                    vertical-align: middle;
                    display: inline-block;
                    @media (max-width: 991px) {
                        margin-bottom: 48px;
                    }
                    @media (max-width: 767px) {
                        margin-top: 48px;
                        margin-bottom: 0;
                    }
                }
                .in-card-text-content {
                    margin-top: auto;
                    .in-card-text-content__heading-title {
                        @include heading-title();
                        @media (max-width: 991px) {
                            margin-bottom: 16px;
                        }
                        @media (max-width: 767px) {
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 1.2em;
                        }
                    }
                    .in-card-text-content__regular-text {
                        @include regular-text();
                        color: $black-text;
                        @media (max-width: 991px) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
