@import "variables";

.section {
    color: #1e1d1d;
    padding: 96px 30px;
    .section-container {
        max-width: 1280px;
        margin: 0 auto;
        text-decoration: none;
        .section-title {
            margin-bottom: 64px;
            .section-title__overline {
                color: $black-text;
                letter-spacing: .04em;
                text-transform: uppercase;
                margin-bottom: 16px;
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;
            }
            .section-title__heading-title {
                @include heading-title();
            }
        }
        .box-w-grid {
            max-width: 1280px;;
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            grid-template-rows: 543px 550px 590px;
            grid-gap: 30px;
            .block-flex {
                grid-area: 1 / 1 / 2 / 4;
                background-color: #6eeb9d;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 48px;
                .green {
                    max-width: 400px;
                    .left-side-div__heading-title {
                        @include heading-title();
                    }
                    .left-side-div__regular-text {
                        @include regular-text();
                    }
                }
                .right-side-image-with-top {
                    margin-top: 33px;
                }
            }
            .block-left-side-div {
                background-color: #f7f7f7;
                grid-area: 2 / 1 / 3 / 2;
                flex-direction: column;
                padding: 48px;
                display: flex;
                text-align: center;
                .block-left-side-div__credit-score-image {
                    width: 375px;
                    height: 261px;
                    margin: 0 auto;
                }
                .in-card-text-content {
                    margin-top: auto;
                    flex-direction: column;
                    display: flex;
                    justify-content: center;
                    .in-card-text-content__heading-title {
                        @include heading-title();
                    }
                    .in-card-text-content__regular-text {
                        @include regular-text();
                    }
                }
            }
            .right-side-block {
                    grid-area: 2 / 2 / 3 / 4;
                    background-color: #f7f7f7;
                    background-image: url(/img/background.png);
                    background-position: 100%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    display: flex;
                    padding: 48px;
                    .right-side-div {
                        max-width: 480px;
                        .right-side-div__heading-title {
                            @include heading-title();
                        }
                        .right-side-div__regular-text {
                            @include regular-text();
                        }
                    }
            }
            .yellow {
                grid-area: 3 / 1 / 4 / 3;
                background-color: #fff67f;
                flex-direction: column;
                padding: 48px;
                display: flex;
                text-align: center;
                .left-side-div__credit-score-image {
                    width: 342px;
                    height: 282px;
                    margin: 0 auto;
                }
                .in-card-text-content {
                    margin-top: auto;
                    .in-card-text-content__heading-title {
                        @include heading-title();
                    }
                    .in-card-text-content__regular-text {
                        @include regular-text();
                    }
                }
            }
            .teal {
                grid-area: 3 / 3 / 4 / 4;
                background-color: #acf8f5;
                flex-direction: column;
                padding: 48px;
                display: flex;
                text-align: center;
                .left-side-div__credit-score-image {
                    width: 375px;
                    height: 192px;
                    margin: 0 auto;
                }
                .in-card-text-content {
                    margin-top: auto;
                    .in-card-text-content__heading-title {
                        @include heading-title();
                    }
                    .in-card-text-content__regular-text {
                        @include regular-text();
                    }
                }
            }
        }
    }
}