@import "variables";

.section {
    color: #1e1d1d;
    padding: 96px 30px;
    .section-container {
        max-width: 1280px;
        margin: 0 auto;
        text-decoration: none;
        .section-title {
            margin-bottom: 64px;
            .section-title__overline {
                color: $black-text;
                letter-spacing: .04em;
                text-transform: uppercase;
                margin-bottom: 16px;
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;
            }
            .section-title__heading-title {
                @include heading-title();
            }
        }
        .green-grid {
            grid-column-gap: 32px;
            grid-row-gap: 32px;
            background-color: #6eeb9d;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1.5fr;
            align-items: center;
            grid-auto-columns: 1fr;
            display: grid;
            .left-side-div {
                grid-area: span 1 / span 1 / span 1 / span 1;
                flex-direction: column;
                align-items: flex-start;
                padding: 48px;
                display: flex;
                .left-side-div__heading-title {
                    @include heading-title();
                }
                .left-side-div__regular-text {
                    @include regular-text();
                }
            }
            .right-side-image-with-top {
                text-align: center;
                padding-top: 24px;
                img {
                    max-width: 100%;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }
        .gray-grid {
            grid-auto-columns: 1fr;
            display: grid;
            grid-column-gap: 32px;
            grid-row-gap: 32px;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1.5fr;
            margin-top: 32px;
            .block-left-side-div {
                grid-area: span 1 / span 1 / span 1 / span 1;
                text-align: center;
                background-color: #f7f7f7;
                flex-direction: column;
                align-items: flex-start;
                padding: 48px;
                display: flex;
                .block-left-side-div__credit-score-image {
                    max-width: 100%;
                    margin-bottom: 96px;
                    margin-left: auto;
                    margin-right: auto;
                    img {
                        vertical-align: middle;
                        display: inline-block;
                    }
                }
                .in-card-text-content {
                    margin-top: auto;
                    .in-card-text-content__heading-title {
                        @include heading-title();
                    }
                    .in-card-text-content__regular-text {
                        @include regular-text();
                        letter-spacing: -.01em;
                        color: $black-text;
                    }
                }
            }
            .right-side-block {
                grid-area: span 1 / span 1 / span 1 / span 1;
                background-image: url(/img/background.png);
                background-position: 100%;
                background-repeat: no-repeat;
                background-size: contain;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                display: flex;
                background-color: #f7f7f7;
                padding: 48px;
                .right-side-div {
                    max-width: 480px;
                    .right-side-div__heading-title {
                        @include heading-title();
                    }
                    .right-side-div__regular-text {
                        @include regular-text();
                    }
                }
            }
        }
        .yellow-grid {
            grid-auto-columns: 1fr;
            display: grid;
            grid-column-gap: 32px;
            grid-row-gap: 32px;
            grid-template-rows: auto;
            grid-template-columns: 1.5fr 1fr;
            margin-top: 32px;
            .left-side-div {
                grid-area: span 1 / span 1 / span 1 / span 1;
                text-align: center;
                background-color: #fff67f;
                flex-direction: column;
                align-items: flex-start;
                padding: 48px;
                display: flex;
                img {
                    max-width: 100%;
                    vertical-align: middle;
                    display: inline-block;
                    margin-bottom: 96px;
                    margin-left: auto;
                    margin-right: auto;
                }
                .in-card-text-content {
                    margin-top: auto;
                    .in-card-text-content__heading-title {
                        @include heading-title();
                    }
                    .in-card-text-content__regular-text {
                        @include regular-text();
                        color: $black-text;
                    }
                }
            }
            .teal {
                grid-area: span 1 / span 1 / span 1 / span 1;
                flex-direction: column;
                align-items: flex-start;
                padding: 48px;
                display: flex;
                background-color: #acf8f5;
                text-align: center;
                .left-side-div__credit-score-image {
                    margin-bottom: 96px;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 100%;
                    vertical-align: middle;
                    display: inline-block;
                }
                .in-card-text-content {
                    margin-top: auto;
                    .in-card-text-content__heading-title {
                        @include heading-title();
                    }
                    .in-card-text-content__regular-text {
                        @include regular-text();
                        color: $black-text;
                    }
                }
            }
        }
    }
}
